#page-footer {
    background-color: $color-black-secondary;

    .footer-wrapper {
        padding: 3rem 0;
        color: $color-white-primary;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
    }
}