#page-header {
    background-color: $color-blue-primary;
    @include box-shadow-primary;

    .header-wrapper {
        padding: 2.5rem 0;
        text-align: center;

        .site-logo {
            font-size: 4.5rem;
            display: inline-block;
            color: $color-white-primary;
            font-weight: 800;
        }
    }
}