#main {

    /*-------------------------------
    SECTION: LOCATION MAP
---------------------------------*/
    .section-map {
        .section-header {}

        .location-map {
            width: 100%;
            margin-bottom: 5rem;
            min-height: 60vh;
            overflow: hidden;
            border: 1px solid $color-grey-primary;
            padding: 2rem;

            .gm-ui-hover-effect {
                height: 3rem;
                width: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-black-secondary;
                @include box-shadow-secondary;
                @include border-radius-lg;
            }

            .info-window {
                background-color: $color-blue-primary;
                color: $color-white-primary;
                font-size: 1.7rem;
                padding: 2rem;
            }
        }
    }

    /*---------------------------------------------------------------------------
    FILTER-NAV
    ---------------------------------------------------------------------------*/
    .movie-filter {
        form {
            width: 100%;
            display: block;
            margin-bottom: 4rem;

            label {
                display: inline-block;
                background-color: $color-blue-primary;
                padding: 1rem;
                color: $color-white-primary;
                text-transform: uppercase;
            }

            input[type="text"] {
                width: 100%;
                padding: 1rem 2rem;
                line-height: 3rem;
                font-size: inherit;
                outline: none;
                border: 1px solid #ccc;
                font-family: inherit;

                @include transition-delay-sm;

                &:focus {
                    border-bottom: 1px solid $color-blue-primary;
                }
            }
        }
    }

    /*-------------------------------
    SECTION: MOVIES
---------------------------------*/
    .sectio-movies {
        overflow: hidden;
        width: 100%;
        background-color: $color-grey-secondary;
        padding-bottom: 6rem;
        min-height: 90vh;

        .movies-wrapper {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            .movie {
                border: 1px solid #eee;
                padding: 2rem;
                @include transition-delay-sm;
                @include box-shadow-secondary;
                width: 24%;
                margin: 0 0.7rem 1.4rem;

                //Screen with <=Laptop screen with
                @include respond-mediaQuery(laptop) {
                    width: 32%;
                }

                //Screen with <=ipad screen with
                @include respond-mediaQuery(ipad) {
                    width: 48%;
                }

                //Screen with <=phone reen with
                @include respond-mediaQuery(phone) {
                    width: 100%;
                }

                &__short-info {
                    display: flex;
                    justify-content: space-between;

                    .info-tag {
                        background-color: $color-blue-primary;
                        font-size: 1.5rem;
                        padding: 0.3rem 1rem;
                        color: $color-white-primary;
                    }

                    .release-year {}
                }

                &__title {
                    text-align: left;
                    padding: 1rem;
                    border: 1px solid $color-white-tertiary;
                    color: $color-blue-primary;
                }

                .btn-show-location {
                    z-index: 100;
                    background-color: #f8f9fa;
                    padding: 1.5rem 2rem;
                    top: 0;
                    left: 0;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                    border: 1px solid $color-white-tertiary;
                    font-family: inherit;
                    text-align: left;
                    width: 100%;
                    text-transform: uppercase;
                    font-size: 1.6rem;

                    svg {
                        margin-right: 1rem;
                    }

                }

                &__filmed-address {
                    position: fixed;
                    z-index: 2000;
                    top: 50%;
                    left: 50%;
                    width: 45%;
                    @include transform-xy-minus50percent;
                    @include transition-delay-sm;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 2000%;
                        height: 2000%;
                        background-color: rgba($color-black-primary, 0.9);
                        z-index: 1;
                        left: -200%;
                        top: -200%;
                        @include transition-delay-sm
                    }

                    .address-list-wrapper {
                        position: relative;
                        z-index: 500;
                        padding: 5rem;
                        background-color: $color-white-primary;
                        @include box-shadow-secondary;
                        @include transition-delay-sm;

                        .movie__title {
                            border: none;
                        }

                        .btn-close-location {
                            width: 4rem;
                            height: 4rem;
                            display: flex;
                            align-content: center;
                            justify-content: center;
                            @include border-radius-lg;
                            border: 1px solid $color-white-tertiary;
                            @include transition-delay-sm;
                            position: absolute;
                            top: 1.5rem;
                            right: 1.5rem;
                            cursor: pointer;
                            background-color: $color-white-primary;
                            color: red;
                            @include box-shadow-secondary;
                        }
                    }

                    .address-list {
                        position: relative;
                        z-index: 2;
                        padding: 0.8rem;
                        color: $color-white-primary;
                        margin: 0.5rem;
                        background-color: $color-blue-primary;
                        display: inline-flex !important;

                        svg {
                            margin-right: 0.5rem;
                            font-size: 1.2rem;
                            color: $color-red;
                        }
                    }

                    .filmed-location-map {
                        width: 100%;
                        margin: 3rem 0;
                    }
                }
            }
        }
    }
}