//container
.container {
	width: 90vw;
	margin: 0 auto;
	overflow: hidden;
}

// h1
.heading-primary {
	font-size: 4rem;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 1rem;
	margin-bottom: 5rem;

	&::before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 6rem;
		height: 3px;
		background-color: $color-blue-primary;
	}
}

//h2
.heading-secondary {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 2rem;
	text-transform: uppercase;
	text-align: center;
}

//h3
.heading-tertiary {
	font-size: 2rem;
	font-weight: normal;
	margin-bottom: 2rem;
}

// Section-header
.section-header {
	margin: 6rem 0 4rem;
	width: 100%;
}

// Section
.section {
	overflow: hidden;
}

// Button
.btn {
	outline: none;
	cursor: pointer;
}