//container
.container {
	width: 95vw;
	margin: 0 auto;
}

// h1
.heading-primary {
	font-size: 4rem;
}

//h2
.heading-secondary {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

//h3
.heading-tertiary {
	font-size: 2rem;
	font-weight: normal;
	margin-bottom: 2rem;
}

// Section-header
.section-header {
	margin-bottom: 3rem;
	width: 100%;
}