// COLORS
$color-white-primary: #fff;
$color-white-secondary: #e5f4ff;
$color-white-tertiary: #eeeeee;

$color-black-primary: #000;
$color-black-secondary: #282828;
$color-black-tertiary: #4e4e4e;

$color-blue-primary: #034da2;

$color-grey-primary: #ccc;
$color-grey-secondary: #f8f9fa;

$color-red:#ea4335;



// FONT
$default-font-size: 1.6rem;